<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Static Navigation - SB Admin</title>
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" />
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fc;
        }

        #layoutSidenav {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-areas: "sidenav content";
            height: 100%;
        }

        #layoutSidenav_nav {
            grid-area: sidenav;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #003788;
        }

        #layoutSidenav_content {
            grid-area: content;
            overflow-y: auto; /* Permet de faire défiler le contenu si nécessaire */
            padding: 20px;
            margin-left: 250px; /* Largeur de la barre latérale */
        }

        /* Ajoutez le reste de votre style personnalisé ici */
        .unibank-text {
            font-size: 1em;
            font-family: Arial;
            font-weight: bold;
            color: #ffffff;
            margin-left: 10px;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
            vertical-align: -20px;
        }
        /* Sidebar and navbar background color */
        .sb-topnav, .sb-sidenav {
            background-color: #003788;
        }

        /* Sidebar menu items color */
        .sb-sidenav-menu a.nav-link, 
        .sb-topnav .navbar-nav .nav-link {
            color: #fff; /* Blanc */
            font-family: Arial, sans-serif; /* Police Arial */
            font-weight: 600; /* Plus gras */
        }

        /* Couleur de l'icône */
        .sb-sidenav-menu a.nav-link[href="#!"] .sb-nav-link-icon i {
            color: #fff; /* Blanc */
        }

        /* Style de texte élégant */
        .sb-nav-link .sb-nav-link-icon {
            font-size: 18px; /* Taille de police */
            margin-right: 10px; /* Marge à droite pour l'espacement */
        }

        /* Sidebar menu items hover background color */
        .sb-sidenav-menu a.nav-link:hover, 
        .sb-topnav .navbar-nav .nav-link:hover {
            background-color: #0056b3;
            color: #fff; /* Blanc */
        }

        /* Navbar toggle button color */
        .navbar-dark .navbar-toggler-icon {
            background-color: #fff;
        }

        /* Button primary color */
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        /* Button primary hover color */
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        /* Button success color */
        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }

        /* Button success hover color */
        .btn-success:hover {
            background-color: #218838;
            border-color: #218838;
        }

        /* Button danger color */
        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        /* Button danger hover color */
        .btn-danger:hover {
            background-color: #c82333;
            border-color: #c82333;
        }
    </style>
    
    
    
        
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #003788;">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3 d-flex align-items-center" href="{{ path('compare_active_inactive_userss') }}">
                <span class="unibank-text ms-1">UNIBANK</span>
            </a>
            
        
              <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="d-flex align-items-center">
                    <!-- Bouton de notification -->
                    <button class="btn btn-link btn-sm me-0 position-relative" id="notificationButton">
                        <i class="fas fa-bell fa-2x" style="color: #FF5733; position: relative;">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="transform: translate(-50%, -50%);">5</span>
                        </i>
                        <span class="visually-hidden">Unread notifications:</span>
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger" id="notificationNumber">3</span>
                    </button>
                    <style>
                    .visually-hidden {
                        position: absolute !important;
                        clip: rect(0 0 0 0) !important;
                        width: 1px !important;
                        height: 1px !important;
                        margin: -1px !important;
                        padding: 0 !important;
                        border: 0 !important;
                        overflow: hidden !important;
                        white-space: nowrap !important;
                    }</style>
                    
            
                    <!-- Formulaire de recherche -->
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ app.user.photo ? asset('img/' ~ app.user.photo) : 'https://bootdey.com/img/Content/avatar/avatar7.png' }}" alt="User Photo" style="width: 40px; height: 40px; border-radius: 50%;">
                    </a>                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('app_bankprofile') }}">Mon profile</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{{ path('compare_active_inactive_userss') }}" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" style="color: white;"></i></div>
                                Dashboard
                            </a>
                            
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <!-- Appliquer le style aux autres liens du menu -->
                            <a class="nav-link" href="{{ path('app_users_index') }}" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-plus" style="color: white;"></i></div>
                                Les demandes de compte
                            </a>
                            
                            
                            <a class="nav-link" href="{{ path('app_users_list_client') }}" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-user" style="color: white;"></i></div>
                                Liste des clients
                            </a>
                            <a class="nav-link" href="#" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-money-bill" style="color: white;"></i></div>
                                Les demandes de crédit
                            </a>
                            <a class="nav-link" href="#" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-exclamation-circle" style="color: white;"></i></div>
                                Réclamations
                            </a>
                            <a class="nav-link" href="#" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-university" style="color: white;"></i></div>
                                Liste des comptes
                            </a>
                            <a class="nav-link" href="#" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-money-check-alt" style="color: white;"></i></div>
                                Transactions
                            </a>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="#" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area" style="color: white;"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="#" style="color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-table" style="color: white;"></i></div>
                                Tables
                            </a>
                        </div>
                        
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Mon profile</h1>
                        {% block body %}

  <!-- Contenu spécifique du corps de la page -->
    <div class="container bootstrap snippets bootdey">
        <h1 class="text-primary"></h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <form id="change-photo-form" action="{{ path('change_photo') }}" method="post" enctype="multipart/form-data">
                        <label for="avatar-upload" style="cursor: pointer;">
                            <img id="avatar-preview" src="{{ app.user.photo ? asset('img/' ~ app.user.photo) : 'https://bootdey.com/img/Content/avatar/avatar7.png' }}" class="avatar img-circle img-thumbnail" alt="avatar" style="width: 200px; height: 200px;">
                            <!-- Définir la largeur et la hauteur de l'image à 200 pixels -->
                            <h6 style="display: inline-block; margin-left: 5px; vertical-align: middle;">
                                <i class="fas fa-camera fa-2x" style="color: #3498db; vertical-align: middle;"></i> Changer la photo
                            </h6>
                        </label>
                        <input type="file" id="avatar-upload" name="image" style="display: none;">
                    </form>
                    
                    
                    
                    <script>
                        // Ajouter un gestionnaire d'événements pour le changement de fichier
                        document.getElementById('avatar-upload').addEventListener('change', function() {
                            // Soumettre automatiquement le formulaire lorsque le fichier est sélectionné
                            document.getElementById('change-photo-form').submit();
                        });
                    </script>
                </div>
            </div>
            
          
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <h3>Informations personnelles</h3>
                
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Prénom :</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="{{ app.user.prenom }}" readonly style="background-color: #f5f5f5;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nom :</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="{{ app.user.nom }}" readonly style="background-color: #f5f5f5;">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email :</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="{{ app.user.email }}" readonly style="background-color: #f5f5f5;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Date de naissance :</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="{{ app.user.dateDeNaissance|date('Y-m-d') }}" readonly style="background-color: #f5f5f5;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Adresse :</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="{{ app.user.adresse }}" readonly style="background-color: #f5f5f5;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Téléphone :</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="{{ app.user.telephone }}" readonly style="background-color: #f5f5f5;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">CIN :</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="{{ app.user.cin }}" readonly style="background-color: #f5f5f5;">
                        </div>
                    </div>
                </form>
                <div style="margin-top: 20px;"> <!-- Ajout d'une marge de 20px en haut -->
                    <div class="text-right">
                        <a href="{{ path('app_change_password') }}" class="btn btn-primary btn-sm" id="changePasswordButton" style="background-color: #003788; border-color: #003788;">Changer le mot de passe</a>
                        <span style="margin-right: 0.5cm;"></span>
                        <a href="{{ path('') }}" class="btn btn-secondary btn-sm" id="anotherActionButton" style="background-color: #003788; border-color: #003788;">Supprimer votre compte</a>
                    </div>
                </div>
                
                
                
                
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const changePasswordButton = document.getElementById('changePasswordButton');
                
                        if (changePasswordButton) {
                            changePasswordButton.addEventListener('click', function(event) {
                                event.preventDefault();
                                const url = this.getAttribute('href');
                                // Ouvrir une nouvelle fenêtre (popup) avec l'URL spécifiée
                                window.open(url, '_blank', 'width=600,height=400'); // Vous pouvez ajuster la taille de la fenêtre popup selon vos besoins
                            });
                        }
                    });
                </script>
                
                
                
                
            </div>
        </div>
    </div>
    <hr>
                        {%endblock%}
                      
            
                     
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">
                                &copy; 2024 Your Website
                            </div>
                            <div>
                                <a href="?_locale=en">English</a>
                                &middot;
                                <a href="?_locale=fr">Français</a>
                                &middot;
                                <a href="?_locale=ar">العربية</a>
                            </div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
                
                
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
     
        
        
        
        
        
        
    </body>
</html>
